<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

	<bean id="ProductService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.framgia.service.impl.ProductServiceImpl">
				<property name="productDAO" ref="ProductDAO" />
			</bean>
		</property>
	</bean>

	<bean id="CategoryService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.framgia.service.impl.CategoryServiceImpl">
				<property name="categoryDAO" ref="CategoryDAO" />
			</bean>
		</property>
	</bean>

	<bean id="UserService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.framgia.service.impl.UserServiceImpl">
				<property name="userDAO" ref="UserDAO" />
			</bean>
		</property>
	</bean>
	<bean id="loginSecurity" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.framgia.service.impl.LoginSecurityImpl">
				<property name="userDAO" ref="UserDAO" />
			</bean>
		</property>
	</bean>
	
	<bean id="CartService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.framgia.service.impl.CartServiceImpl">
				<property name="cartDAO" ref="CartDAO" />
				<property name="cartDetailDAO" ref="CartDetailDAO" />
			</bean>
		</property>
	</bean>
	
	<bean id="CartDetailService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.framgia.service.impl.CartDetailServiceImpl">
				<property name="cartDAO" ref="CartDAO" />
				<property name="cartDetailDAO" ref="CartDetailDAO" />
			</bean>
		</property>
	</bean>
</beans>
